<div class="user-details-bis">
    <h1>Education</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>Harvard University</h3>
            <h4>Master of Data Science<br>(2025 &ndash; continuing)</h4>
            <a href="https://www.harvard.edu/" target="_blank">
                <img src="assets/img/harvard.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}" alt="Harvard">
            </a>
            <p>Master of Data Science (Statistics, AI &amp; Machine Learning) &mdash; In Progress</p>
        </div>
        <div class="education-column">
            <h3>University of Copenhagen</h3>
            <h4>cand. polit. (Master Economics)<br>(1996 &ndash; 2002)</h4>
            <a href="https://www.ku.dk/" target="_blank">
                <img src="assets/img/copenhagen.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}" alt="University of Copenhagen">
            </a>
            <p>Master of Economics (cand. polit.) &mdash; Completed</p>
        </div>
    </div>
    <div class="education-row">
        <div class="education-column">
            <h3>Certifications</h3>
            <i class="icon fa fa-certificate" aria-hidden="true" style="font-size:{{ site.icon_size }}px;"></i>
            <p>
                Microsoft Azure Developer Associate &bull;
                Microsoft Azure Fundamentals &bull;
                Azure DevOps Engineer Expert &bull;
                Terraform Associate (003) &bull;
                MCSD &bull;
                Prince2 Foundation &bull;
                Scrum Master
            </p>
        </div>
    </div>
</div>
