<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
            <span class="typewrite site-description" data-period="2250"
                  data-type='["Senior .NET Developer", "Angular &amp; React Developer", "Azure Cloud Engineer", "Software Architect"]'>
              <span class="wrap"></span>
            </span>
        </h1>
        <div class="header-icons">
            <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/paul-schwartzberg/"><i
                    class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/schwartzberg"><i
                    class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="Send email" href="mailto:schwartzenberg@gmail.com"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="Download CV" target="_blank" href="{{ '/assets/cv_it_ch_en_78_00-tooling_a.pdf' | prepend: site.baseurl }}"><i
                    class="icon fa fa-file-text-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>