<div class="user-details-bis">
    <h1>Work Experience</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>Aybit</h3>
            <h4>DevOps &amp; Software Developer<br>(Jan 2025 &ndash; Present)</h4>
            <i class="icon fa fa-building" aria-hidden="true" style="font-size:{{ site.icon_size }}px;"></i>
            <p class="work-text">New and continued development of customer applications in web, frontend, backend, cloud, and database areas. Large component of test automation (integration and end-to-end tests) deployed via Azure DevOps pipelines. Stack: ASP.NET Core, Angular, React, Python, SQL Server 2022, Microservices with Docker &amp; Kubernetes. LLM tuning, prompt engineering, Azure Services (Web Apps, Functions, API Management), OpenAI &amp; Azure Foundry.</p>
        </div>
        <div class="education-column">
            <h3>Bundesamt f&uuml;r Informatik (BIT)</h3>
            <h4>Senior Software Developer<br>(Jun 2020 &ndash; Dec 2024)</h4>
            <a href="https://www.bit.admin.ch/" target="_blank">
                <img src="assets/img/bit_ofit_logo.jpeg" height="{{ site.icon_size }}" width="{{ site.icon_size }}" alt="BIT">
            </a>
            <p class="work-text">Full-stack development for the Bundesamt f&uuml;r Statistik: C# WPF features in SBER (Swiss Business and Enterprise Register), React 17 &amp; 18 new development for BERP, Angular 14 &amp; 15 in SBER, and new backend with .NET Core, Elastic Search, and SQL Server. CI/CD in Azure DevOps, Scrum.</p>
        </div>
        <div class="education-column">
            <h3>Systemize Informatik</h3>
            <h4>Senior Software Developer<br>(Feb 2016 &ndash; Apr 2020)</h4>
            <i class="icon fa fa-building" aria-hidden="true" style="font-size:{{ site.icon_size }}px;"></i>
            <p class="work-text">New development and maintenance of customer applications in frontend (Angular 5&ndash;8, React 15&ndash;16, WPF) and backend (.NET Core, WebApi, ASP.NET Core). Azure: Terraform with ARM Templates, Event Hub, Functions, SQL Server, Cosmos DB, Azure DevOps.</p>
        </div>
    </div>
    <div class="education-row">
        <div class="education-column">
            <h3>Wipro &amp; A1 Telekom (Wien/Linz)</h3>
            <h4>Developer / Scrum Master<br>(Feb 2014 &ndash; Jan 2016)</h4>
            <a href="https://www.wipro.com/" target="_blank">
                <img src="assets/img/wipro.svg" height="{{ site.icon_size }}" width="{{ site.icon_size }}" alt="Wipro">
            </a>
            <a href="https://www.a1.at/" target="_blank">
                <img src="assets/img/a1telekom.jpg" height="{{ site.icon_size }}" width="{{ site.icon_size }}" alt="A1 Telekom Austria">
            </a>
            <p class="work-text">Developer/Scrum Master for outsourcing of ELEKTRA (Austria Red Cross Ground Control Emergency Vehicle Assignment System) to Wipro India. WPF new features in ELEKTRA desktop client, ASP.NET MVC web expansion, DCI cross-border data transfer (WCF/Web services), and ELEKTRA mobile apps (C# &amp; Xamarin).</p>
        </div>
    </div>
    <div style="text-align: center; margin-top: 1em;">
        <p>
            <em>Full career history on
            <a href="https://www.linkedin.com/in/paul-schwartzberg/" target="_blank">LinkedIn</a>.</em>
        </p>
    </div>
</div>
